@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Athletics;
  src: url(/font/Athletics\ Bold.otf);
}

.Athletics {
  font-family: Athletics;
}

@font-face {
  font-family: mont;
  src: url(/public/font/Mont-ExtraLightDEMO.otf);

}

.mont {
  font-family: mont;
}

@font-face {
  font-family: montHeavy;
  src: url(/public/font/Mont-HeavyDEMO.otf);
  ;

}

.montHeavy {
  font-family: montHeavy;
}


@font-face {
  font-family: proxima;
  src: url(/public/font/Fontspring-DEMO-proximanovaexcn-regular.otf);
  ;

}

.proxima {
  font-family: proxima;
}

@font-face {
  font-family: proximaMedium;
  src: url(/public/font/Fontspring-DEMO-proximanova-medium.otf);
  ;

}

.proximaMedium {
  font-family: proximaMedium;
}
:root {
  font-family: Athletics, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}